@media screen and (min-width:1100px){

    .article{
        flex-direction: row;
        margin: 18em;

        &-img{
            width: 40%;
            height: auto;
            object-position: 0 0;
            border-top-left-radius: 10px;
            border-top-right-radius: 0;
            border-bottom-left-radius: 10px;
        }

        &-body{

            .title{
                font-size: 1.2rem;
                padding-left: 2.4em;
                padding-right: 2.4em;
                padding-top: 2em;
                margin: 0 0.8em;
            }
            .content{
                padding-left: 4em;
                padding-right: 4em;
                padding-bottom: 2em;
                margin: 0 0.4em;
            }
        }

        .author{

            &-details{
                margin-left: 4em;
            }

            .share-btn > img{
                margin-right: 4em;
            } 
        }

        .share{
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }   
}